<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3BQNCKKTXJ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-3BQNCKKTXJ');
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  <!-- CSS personalizado por página -->
  {{ page.custom_css }}
</head>

<body>
  {{ content }}

  <!-- JS personalizado por página -->
  {{ page.custom_js }}
</body>
</html>
